// ON_STARTUP: change for your color scheme 

// -------- Custom Colors -----------
@greyDark: #292c39;

@green:#06B359;
@red: #FF5B59;
@grey: #7F7F7F;
@greyLight: #F2F3F3;
@orange: #ffb533;


// -------- Fonts -----------
@font-family-no-number: 'Untitled Sans Test';
@font-family: @font-family-no-number, "Source Sans Pro";

// -------- Colors -----------
@primary-color: @orange;
@error-color: @red;
@success-color: @green;
@normal-color: @greyDark;

// Base settings for most components
@text-color: @greyDark;
@border-radius-base: 0;

// Buttons
@btn-border-radius-base: 0;
