@import 'theme/variables';

.MainMenu {
  width: 190px;
  background-color: $navy-1;
  padding-top: 45px;
  &__Item {
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 15px;
    i {
      opacity: 0.7;
      padding-right: 10px;
    }
    &:hover, &:global(.active) {
      background-color: #4E6887;
      color: #fff;
      i {
        opacity: 1;
      }
    }
  }
}