@import 'theme/variables';

.Logo {
	height: 64px;
	width: 130px;
  margin-bottom: 30px;
}

.Login {
  height: 100vh;
  background-color: $navy-1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__formBox {
    width: 370px;
    background-color: #fff;
    padding: 30px 50px;
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      color: $grey;
    }
    button {
      width: 100%;
    }
    a {
      padding-top: 10px;
      font-size: 13px;
    }
  }
}
